body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body span,
body p {
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
nav img {
  height: 30px;
  width: 100px;
  object-fit: contain;
}
nav input[type=button] {
  border: solid hsl(322, 100%, 66%) 1px;
  border-radius: 50px;
  color: hsl(322, 100%, 66%);
  background: none;
  padding: 0px 20px;
}

.hero {
  font-family: "Poppins";
  text-align: center;
  margin: 0px 40px;
  margin-bottom: 3rem;
}
.hero p {
  font-weight: 600;
}
.hero input[type=button] {
  background: hsl(322, 100%, 66%);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 0.75rem 2rem;
  box-shadow: 1px 1px 5px 10px #f1f1f1;
}

img.mockup {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.up {
  display: flex;
  justify-content: center;
  align-items: left;
  margin: 0 5rem;
  flex-direction: column;
  gap: 4rem;
}
.up .element {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: fit-content;
  margin: 0 auto;
}
.up .element img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.up .element h3 {
  font-size: 52px;
  line-height: 1;
  margin: 0;
  font-weight: 600;
  letter-spacing: -3px;
}
.up .element span {
  text-align: center;
}

/* ========================================== */
/* ================= FOOTER ================= */
/* ========================================== */
@media screen and (min-width: 0) {
  footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding: 1rem 1.5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;
  }
  footer p,
  footer span {
    color: hsl(207, 100%, 98%);
    line-height: 1.75;
    font-size: 15px;
  }
  footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 53px;
    top: -52px;
    left: 0;
    z-index: 10;
    background-image: url("../images/bg-footer-top-mobile.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  footer .newsletter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  footer .newsletter .newsletter-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  footer .newsletter h5 {
    text-transform: uppercase;
    font-size: 24px;
  }
  footer .newsletter input[type=text] {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
  }
  footer .newsletter input[type=button] {
    width: fit-content;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: none;
    font-size: 105%;
    font-weight: 600;
    background-color: hsl(322, 100%, 66%);
    color: white;
    align-self: end;
  }
  footer .footer-content {
    gap: 1rem;
  }
  footer .footer-content .contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 0;
  }
  footer .footer-content .contact a {
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }
  footer .footer-content .contact a img {
    object-fit: contain;
  }
  footer .footer-content .social {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  footer .footer-content .social img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    flex-direction: row-reverse;
    max-width: 100vw;
    margin-top: calc(203px + 4rem);
    padding: 2rem 5rem;
    padding-top: 8rem;
    justify-content: space-evenly;
  }
  footer::before {
    background-image: url("../images/bg-footer-top-desktop.svg");
    width: 100%;
    height: 203px;
    top: -180px;
    left: 0;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer .newsletter {
    width: 500px;
  }
  footer .newsletter .newsletter-input {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  footer .newsletter input[type=text] {
    margin: 0;
    width: 80%;
  }
  footer .footer-content {
    width: 500px;
  }
}/*# sourceMappingURL=index.css.map */